<nav class="sub-nav" role="tablist">
  <ul>
    <li><a href="#" id="main-link" class="tab-link" role="tab">MAIN</a></li>
    <li><a href="#" id="screenshots-link" class="tab-link" role="tab">SCREENSHOTS</a></li>
    <li><a href="#" id="features-link" class="tab-link" role="tab">FEATURES</a></li>
    <li><a href="#" id="talk-link" class="tab-link" role="tab">TALK</a></li>
    <li><a href="#" id="news-link" class="tab-link" role="tab">NEWS</a></li>
    <li><a href="#" id="gear-link" class="tab-link" role="tab">GEAR</a></li>
    <li><a href="#" id="supporters-link" class="tab-link" role="tab">SUPPORTERS</a></li>
    <li><a href="#" id="languages-link" class="tab-link" role="tab">LANGUAGES</a></li>
  </ul>
</nav>