// font declarations
h1, h2, h3, h4, h5, h6 {
  font-family: 'titillium_bold', sans-serif;
}

body,
input[type='text'] {
  font-family: 'titillium', sans-serif;
  font-size: $font-size; // 18px; use multiples of 1.5 for font tweaks
}

em {
  font-family: 'titillium_italic', sans-serif;
}

nav {
  font-family: 'ubuntu', sans-serif;
}

code {
  font-family: 'roboto_mono', monospace;
}

.callout-link {
  font-family: 'ubuntu_medium', sans-serif;
}

// desktop layout

header, main, footer {
  max-width: $grid-val * 42; // 30 * 42 = 1260px
  width: 100%;
  margin: 0 auto;
  padding: 0 $grid-val/2;
}

main {
  img {
    width: 100%;
  }
}