/*
home layout specific styling
currently only used for homepage
*/

// desktop grid of 2 equal columns for homepage content
@media screen and (min-width: $content-bp) {
  .home {
    main {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      & > section {
        &:nth-child(odd) {
          margin-right: $grid-val/2;
        }
        &:nth-child(even) {
          margin-left: $grid-val/2;
        }
      }
    }
  }
}